name: sftp-deploy

on:
  push:
    branches:
      - main   

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v3

      - name: Verificar archivos a transferir
        run: ls -la

      - name: Deploy a IONOS vía SFTP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          port: 22
          username: ${{ secrets.SFTP_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "assets/** language/** index.html IONOS.txt"
          target: "/"    # Ajusta el destino según lo que necesites         

